@import "tailwindcss";

/* ============================================
   GLOBAL STYLES
   ============================================ */
/* Add global custom styles here */


/* ============================================
   HOME PAGE STYLES
   ============================================ */
/* Add Home page specific custom styles here */


/* ============================================
   EVENTS PAGE STYLES
   ============================================ */
/* Add Events page specific custom styles here */


/* ============================================
   DASHBOARD PAGE STYLES
   ============================================ */
/* Add Dashboard page specific custom styles here */


/* ============================================
   SIGNUP/LOGIN PAGE STYLES
   ============================================ */
/* Add Signup/Login page specific custom styles here */


/* ============================================
   TEAM PAGE STYLES
   ============================================ */
/* Add Team page specific custom styles here */
.team-main-div{
   padding: 34px 26px;
}

/* ============================================
   SPONSOR PAGE STYLES
   ============================================ */
/* Add Sponsor page specific custom styles here */


/* ============================================
   COMPONENT STYLES
   ============================================ */
/* Add reusable component custom styles here */

body{
  margin: 0px;
  padding: 0px;
}

